<head>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<%- include("../partials/_navbar.ejs") %>

<a href="/events/new" class="floating-add-btn">+</a>

<div class="container">
  <header>
    <h1>Events Overview</h1>
  </header>

  <section class="public-events">
    <h2>Public Events</h2>
    <% publicEvent.forEach((event) => {
      if (event.isPublic) {
        if ((event.eventStatus !== "Completed" && event.eventStatus !== "Draft") || event.user_id._id == user._id) { %>
          <div class="event-card">
            <a href="/events/<%= event._id %>">
              <h3><%= event.title %></h3>
              <p><%= event.eventStatus %> | <%= event.date %> at <%= event.time %></p>
              <p class="creator">Created by <%= event.user_id.username %></p>
            </a>
          </div>
        <% } else if (event.eventStatus == "Completed" && event.user_id._id !== user._id) { %>
          <div class="event-card completed">
            <h3><%= event.title %></h3>
            <p><%= event.eventStatus %> | <%= event.date %> at <%= event.time %></p>
            <p class="creator">Created by <%= event.user_id.username %></p>
          </div>
        <% }}}) %>
  </section>

  <section class="my-events">
    <h2>My Events</h2>
    <% events.forEach((event) => { if (!event.isPublic) { %>
      <div class="event-card my-event">
        <a href="/events/<%= event._id %>">
          <h3><%= event.title %></h3>
          <p><%= event.eventStatus %> | <%= event.date %> at <%= event.time %></p>
        </a>
      </div>
    <% }}) %>
  </section>
</div>
