<%-include("../partials/_navbar.ejs")%>
<h2>Public events</h2>
<%publicEvent.forEach((event)=>{ if(event.isPublic &&
event.eventStatus!=="draft"){%>
<ul>
  <li>
 <% if(event.eventStatus =="Completed" && event.user_id._id == user._id){%>
  <a href="/events/<%=event._id%>"><%=event.title%> | <%=event.eventStatus%> | Will be held on <%=event.date%> at <%=event.time%> | Created by : <%=event.user_id.username %></a>
  <%}
else if (event.eventStatus =="Completed" && event.user_id._id !== user._id){%>
  <%=event.title%> | <%=event.eventStatus%> | Will be held on <%=event.date%> at <%=event.time%> | Created by : <%=event.user_id.username %>
<%}

else if (event.eventStatus =="Draft" && event.user_id._id == user._id){%>
  <a href="/events/<%=event._id%>"><%=event.title%> | <%=event.eventStatus%> | Will be held on <%=event.date%> at <%=event.time%> | Created by : <%=event.user_id.username %></a>
<%}%>

  </li>
</ul>
<%}})%>

<h2>My events</h2>
<%events.forEach((event)=>{ if(!event.isPublic){%>
<ul>
  <li>
    <a href="/events/<%=event._id%>"><%=event.title%> | <%=event.eventStatus%></a>
  </li>
</ul>
<%}})%>
