<%- include("../partials/_navbar")%>
<h1><%=events.title%></h1>
<%if(events.description!==""){%>
<p>Description: <%=events.description%></p>
<%}%>
<p>Time: <%= events.time %></p>
<p>Date: <%= events.date %></p>
<p>Address: <%=events.address%></p>
<p>Is public? <%= events.isPublic ? 'yes' : 'no' %></p>
<%if(events.isPublic===true){%>
<p>Guests limit: <%=events.limit%></p>
<%}%>

<%if(events.user_id._id.equals(currentUser)){%>
  <button><a href="/events/<%=events._id%>/edit">Edit</a></button>
<form action="/events/<%=events._id%>?_method=DELETE" method="post">
  <button type="submit">Delete event</button>
</form><br>
  <%}%>
%>
<% if(events.user_id._id.equals(currentUser) && events.eventStatus!=="Completed" && !events.isPublic){ %>
  <form action="/events/<%=events._id%>/new" method="post">
    <input type="hidden" name="submitType" id="submitType" />
  <button type="submit" id="send" onclick="document.getElementById('submitType').value='invitation'">Create invitation</button>
  </form>
<% } %>
