<%- include("../partials/_navbar")%>
<h1><%=events.title%></h1>
<%if(events.description!==""){%>

<p>Description: <%=events.description%></p>
<%}%>
<!-- Extracting the time and date is from chatGPT -->
<p>Date: <%= events.dateTime.toLocaleDateString('en-GB') %></p>
<p>
  Time: <%= events.dateTime.toLocaleTimeString('en-GB', { hour: '2-digit',
  minute:'2-digit' }) %>
</p>
<p>Address: <%=events.address%></p>
<p>Is public? <%= events.isPublic ? 'yes' : 'no' %></p>
<%if(events.isPublic===true){%>
<p>Guests limit: <%=events.limit%></p>
<%}%>
<form action="/events/<%=events._id%>?_method=DELETE" method="post">
  <button type="submit">Delete App</button>
</form>
