<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Event</title>
</head>
<body>
  <h1>Edit User Event</h1>

  <form action="/userEvent/edit/<%= event._id %>?_method=PUT" method="POST">
    <label for="title"> Event Title: </label>
    <input type="text" id="title" name="title" value="<%= event.title %>" required />

    <label for="role">Role:</label>
    <select name="role" id="role" required>
      <option value="VIPGuest" <%= event.role === "VIPGuest" ? "selected" :""%>> VIPGuest </option>
      <option value="RegularGuest" <%= event.role === "RegularGuest" ? "selected" :""%>> RegularGuest</option>
      <option value="Helper" <%= event.role === "Helper" ? "selected" :""%>> Helper </option>
    </select>


    <button type="submit">Update Event</button>
  </form>

  <p><a href="/userEvent/ids">Back to all event</a></p>
</body>
</html>
