<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Invitation</title>
</head>
<body>
  <form action="/invitations" method="post">
    <input type="hidden" name="event_id" value="<%= event._id %>">
    <h2><%= event.title  %></h2>
    <p><%= event.description  %></p>
    <% const eventDateTime = event.dateTime.toString()
      const eventDate = eventDateTime.substring(0, 15) // split the string so return string
      const eventTime = eventDateTime.substring(16, 25)
    %>
    <p><%= eventDate  %></p>
    <p><%= eventTime  %></p>
    <p><%= event.address  %></p>
    <label><b>Select the guest</b></label>
    <select name="guests"  id="guests" >
      <option value="">---Select Your Guest---</option>
      <% allUsers.forEach (user => { %>
      <option value="<%= user._id %>"><%= user.username%></option>
    <% }) %>
    </select>
    <button class="add-guest" type="button">Add This Guest</button>
    <h4>All Guests</h4>
    <div class="list-guests"></div>

    <button type="submit">Create invitation</button>
  </form>


    <script>
      const listUserName = document.querySelectorAll('#guests')
      const addButton = document.querySelector('.add-guest')
      const allGuests = []
      const addNewGuest = () =>{
        listUserName.forEach(item => {
          // reference: https://stackoverflow.com/questions/1085801/get-selected-value-in-dropdown-list-using-javascript
          const selected = item.value
          const selectedName = item.options[item.selectedIndex].text
          if(selectedName && selectedName !== "---Select Your Guest---"){
          allGuests.push(selectedName.toUpperCase())
        }
        })
        if(allGuests.length > 0){
          const result = document.createElement('p')
          const hyperLink = document.createElement('a')
          result.classList.add("my-guest")
          result.innerText = allGuests
          hyperLink.setAttribute("href", "/userEvent/ids")
          hyperLink.innerHTML = "Role"
          document.querySelector('.list-guests').appendChild(result)
          result.appendChild(hyperLink)
          if(result){
            allGuests.pop()
          }
        }

      }
      addButton.addEventListener('click', addNewGuest)
    </script>
</body>
</html>
