<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Invitation</title>
  </head>
  <body>
    <%-include("../partials/_navbar.ejs")%>
    <form action="/invitations/<%= event._id %>/new" method="post">
      <input type="hidden" name="event_id" value="<%= event._id %>" />
      <h2><%= event.title %></h2>
      <p><%= event.description %></p>
      <p><%= event.date %></p>
      <p><%= event.time %></p>
      <p><%= event.address %></p>
      <label><b>Select the guest</b>&nbsp;*can select guests one time</label
      ><br />
      <select name="guests" id="guests" multiple>
        <option value="">---Select Your Guest---</option>
        <% allUsers.forEach (user => { %>
        <option value="<%= user._id %>"><%= user.username%></option>
        <% }) %>
      </select>
      <button class="add-guest" type="button">Add This Guest</button>
      <h4>All Guests</h4>
      <div>
        <ul class="list-guests"></ul>
      </div>
      <input
        type="text"
        name="eventStatus"
        id="eventStatus"
        value="Draft"
        hidden
      />

      <input type="hidden" name="submitType" id="submitType" />

      <button
        type="submit"
        id="send"
        onclick="document.getElementById('submitType').value='invitation'"
      >
        Create invitation
      </button>
    </form>

    <script>
      const listUserName = document.querySelector("#guests")
      const addButton = document.querySelector(".add-guest")
      const sendButton = document.querySelector("#send")
      console.log(sendButton)
      const allGuests = []
      const addNewGuest = () => {
        // reference: https://developer.mozilla.org/en-US/docs/Web/API/HTMLSelectElement/selectedOptions
        const selectedOptions = listUserName.selectedOptions
        for (let i = 0; i < selectedOptions.length; i++) {
          const selectedName = selectedOptions[i].text
          if (
            selectedName &&
            selectedName !== "---Select Your Guest---" &&
            addButton.style.cursor !== "not-allowed"
          ) {
            allGuests.push(selectedName.toUpperCase())
          }
        }
        if (allGuests.length > 0) {
          const result = document.createElement("li")
          result.classList.add("my-guest")
          result.innerText = allGuests
          document.querySelector(".list-guests").appendChild(result)
          if (result) {
            allGuests.length = 0
            addButton.style.cursor = "not-allowed"
          }
        }
      }
      addButton.addEventListener("click", addNewGuest)
      let status = document.querySelector("#eventStatus")
      console.log(status.value)
      sendButton.addEventListener("click", () => {
        status.value = "Sent"
      })
    </script>
  </body>
</html>
<script></script>
