<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Invitation</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <%-include("../partials/_navbar.ejs")%>
    <form action="/invitations/<%= event._id %>/new" method="post" class="inv-form">
      <input type="hidden" name="event_id" value="<%= event._id %>" />
      <h2 class="inv-title"><%= event.title %></h2>
      <p class="inv-description"><strong>Description: </strong><%= event.description %></p>
      <p class="inv-date"><strong>Date: </strong><%= event.date %></p>
      <p class="inv-time"><strong>Time: </strong><%= event.time %></p>
      <p class="inv-address"><strong>Address: </strong><%= event.address %></p>
      <label class="inv-label"><strong>Select the guest</strong>&nbsp;<span>*Select all guests one time</span></label><br />
      <select name="guests" id="guests" multiple class="inv-select-guests">
        <option value="">---Select Your Guest---</option>
        <% allUsers.forEach(user => { %>
          <option value="<%= user._id %>"><%= user.username %></option>
        <% }) %>
      </select>
      <button class="inv-add-guest" type="button">Add This Guest</button>
      <h4 class="inv-subtitle">All Guests</h4>
      <div class="inv-guest-list-container">
        <ul class="inv-list-guests"></ul>
      </div>
      <input type="text" name="eventStatus" id="eventStatus" value="Draft" hidden />
      <input type="hidden" name="submitType" id="submitType" />
      <button
        type="submit"
        id="inv-send"
        class="inv-submit-button"
        onclick="document.getElementById('submitType').value='invitation'"
      >
        Create invitation
      </button>
    </form>

    <script>
      const listUserName = document.querySelector("#guests");
      const addButton = document.querySelector(".inv-add-guest");
      const sendButton = document.querySelector("#inv-send");
      const allGuests = [];
      const addNewGuest = () => {
        const selectedOptions = listUserName.selectedOptions;
        for (let i = 0; i < selectedOptions.length; i++) {
          const selectedName = selectedOptions[i].text;
          if (
            selectedName &&
            selectedName !== "---Select Your Guest---" &&
            addButton.style.display !== "none"
          ) {
            allGuests.push(selectedName.toUpperCase());
          }
        }
        if (allGuests.length > 0) {
          allGuests.forEach(guest => {
          const result = document.createElement("li")
          result.classList.add("inv-my-guest")
          result.innerText = guest
          document.querySelector(".inv-list-guests").appendChild(result)
          })
          addButton.style.display = "none";
        }
      };
      addButton.addEventListener("click", addNewGuest);
      let status = document.querySelector("#eventStatus");
      sendButton.addEventListener("click", () => {
        status.value = "Sent";
      });
    </script>
  </body>
</html>
