<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Show Invitation</title>
  </head>
  <body>
    <% if(invitations.event_id.user_id.equals(currentUser)){ %>
      <%-include("../partials/_navbar.ejs")%>
    <% } %>

    <div class="show-invitation-form">
      <h2 class="show-invitation-title"><%= invitations.event_id.title %></h2>
      <p class="show-invitation-description"><%= invitations.event_id.description %></p>
      <p class="show-invitation-date"><%= invitations.event_id.date %></p>
      <p class="show-invitation-time"><%= invitations.event_id.time %></p>
      <p class="show-invitation-address"><%= invitations.event_id.address %></p>

      <% if(invitations.event_id.user_id.equals(currentUser)){ %>
        <h4 class="show-guests-subtitle">All Guests</h4>
        <% invitations.guests.forEach((user) => { %>
          <ul class="my-events my-event event-card">
            <li class="guest-item">
              <span class="guest-name"><%= user.username.toUpperCase() %></span>
            </li>
          </ul>

          <% invitationResponse.forEach((response) => { %>
            <% if(user._id.equals(response.guest_id._id)){ %>
              <ul class="guest-response-list">
                <p class="response-title">Response:</p>
                <li class="response-status">Invitation Status: <%= response.invitationStatus %></li>
                <li class="response-comment">Comment: <%= response.comment %> </li>
              </ul>
            <% } %>
          <% }) %>

        <% }) %>

        <button type="submit" class="edit-invitation-button">
          <a href="/invitations/edit/<%= invitations._id %>" class="edit-link">Edit Invitation</a>
        </button>
      <% } %>
      </div>
      <div class="send-delete-button">
      <% if(invitations.sendInvitation === "Draft"){ %>
        <form action="/invitations/<%= invitations._id %>" method="post" class="send-invitation-form">
          <br />
          <button type="submit" class="send-invitation-button">Send Invitation</button>
        </form>
      <% } %>


      <form action="/invitations/<%= invitations._id %>?_method=DELETE" method="post" class="delete-invitation-form">
        <br /><button type="submit" class="delete-invitation-button">Delete Invitation</button>
      </form>
    </div>
  </body>
</html>
